*{
margin:0;
padding:0;
box-sizing:border-box;
}
.company{
	text-align:center;
	background-color:#232122;
	height:120px;

}
.img-logo{
	width:190px;
	height:120px;
	position:center;
	
}
.list{
	list-style-type:none;
	margin-top:-20px;
	word-spacing:20px;
	
}
.li{
	display:inline;
	color:white;
	font-family: 'Lato', sans-serif;
	font-size:15px;
	
}
a:link{
	text-decoration:none;
	color:white;
}
a:visited{
	text-decoration:none;
	color:white;
}
a:hover{
	text-decoration:none;
	color:white;
}
.parallax{
	background-image: url("../images/parallax.jpg");
	height:600px;
	background-attachment:fixed;
	background-position:left;
	background-repeat:no-repeat;
	background-size:cover;
	filter: grayscale(100%);
}	
.box{
	background-color:white;
	z-index:-1;
	width:400px;
	height:450px;
	padding-left:10;
	padding-right:10;
	
	

}
.container{
	
	padding-top:100px;
	padding-left:500px;
	padding-right:450px;
	box-align: center;
}
.heading{
	align:center;
	font-family: 'Lily Script One', cursive;
	
	padding-top:50px;
	padding-bottom: 50px;
	font-size:40px;
	font-weight:lighter;
}
.tag-line-div{
	position:center;
	padding-top:50px;
	align:justify;
	/*padding-bottom:200px;*/
	
}
.tag-line{
	text-align:center;
	font-family: 'Dancing Script', cursive;
	font-size:35px;
	
}
.cont{
	
	background-color:black;
	border-radius: 40px;
	margin-left: 90px;
	margin-right: 90px;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 25px;
	margin-bottom: 25px;
	text-align: center;
	width: 200px;
	
}

.link-pos{
	position:center;
	font-size: 15px;
}
