*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.company{
	text-align:center;
	background-color:#232122;
	height:120px;

}
.img-logo{
	width:190px;
	height:120px;
	position:center;
	
}
.list{
	list-style-type:none;
	margin-top:-20px;
	word-spacing:20px;
	
}
.li{
	display:inline;
	color:white;
	font-family: 'Lato', sans-serif;
	font-size:15px;
	
}
a:link{
	text-decoration:none;
	color:white;
}
a:visited{
	text-decoration:none;
	color:white;
}
a:hover{
	text-decoration:none;
	color:white;
}
.parallax{
	background-image: url("../images/parallax.jpg");
	height:700px;
	width:100%;
	padding-top:6%;
	background-attachment:fixed;
	background-position:left;
	background-repeat:no-repeat;
	background-size:cover;
	filter: grayscale(100%);
}

.box{
	background-color:whitesmoke;
	z-index:-1;
	width:33%;
	height:525px;
	margin:auto;
	opacity:.9;
}
.divider{
	margin: auto;
	width:90%;
	position:relative;
}
.heading{
	text-align:center;
	font-family: 'Lily Script One', cursive;
	padding-top:50px;
	padding-bottom: 10px;
	font-size:40px;
	font-weight:lighter;
}
.tag-line-div{
	padding-top:35px;
	padding-left:20px;
	padding-right:20px;
	
}
.tag-line{
	text-align:center;
	margin:auto;
	width:auto;
	font-family: 'Dancing Script', cursive;
	font-size:45px;
}
.link-pos{
	position:center;
	font-size:18px;
}
.button-padd{
	padding-top:40px;
}
@media(max-width:992px){
	/*.company{
		width:auto;
	}*/
	.parallax{
	background-image: url("../images/parallax.jpg");
	height:600px;
	width:100%;
	padding-top:20%;
	padding-left: 20px;
	padding-right: 20px;
	background-attachment:scroll;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	filter: grayscale(100%);
	}
	.box{
		background-color:whitesmoke;
		z-index:-1;
		/*width:65%;*/
		float: none;
		/*height:90%;*/
		height:auto;
		margin:auto;
		margin-left:20px;
		margin-right:20px;
		box-sizing: content-box;
		
		}
		.cont{
			margin: auto;
			width:100px;
		}
		.link-pos{
			margin: auto;
			width:23.7375%;
			/*text-align: center;*/
			background-color:black;
			border-radius: 25px;
			font-size:15px;
			padding: 10px;
		}
		.tag-line-div{
			padding-top:0px;
			/*float:none;*/
		}

		.tag-line{
			font-size:30px;
		}
}


.v{
	background-color:#232122;
	/*height: 1000px;
	display: flex;*/
}
.v-inner{
	background-color:whitesmoke;
	height:480px;
	width:100%;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
}
.v-box{
	background:white;
	width:400px;
	height:520px;
	margin-top:-20px;
	padding: 10px 10px 10px 10px;
	/*z-index:1;*/

}
@media(max-width:992px)
{
	.v-box{
		margin-top:0px;
	}
	.v-inner{
		height: auto;
	}
	.image{
		height:auto;
	}
}
@media(min-width:992px)

{
.image{
	width: 380px;
	height:500px;
	filter:grayscale(50%);
}

.image:hover{
	filter:grayscale(0%);
}
}
.fntsize{
	font-size: 23px;
	opacity:.5;
	height:auto;
}
.txtclr{
	color:white;
	opacity: .89;

}
.bgclr{
	background-color: azure;
	display: inline;
}

/* Style the buttons */
.btn {
	border:solid;
	border-radius: 25px;
	outline: #232122;
	padding: 12px 16px;
	background-color: white;
	cursor:pointer;
  }
  
  /* Add a grey background color on mouse-over */
  .btn:hover {
	background-color:black;
	color:whitesmoke;
  }
  
  /* Add a dark background color to the active button */
  .btn.active {
	background-color: #666;
	 color: white;
  }
  .gall{
	  width:auto;
  }
  .row {
	margin: 10px -16px;
  }
  
  /* Add padding BETWEEN each column */
  /*.row,
  .row > .column {
	padding: 8px;
  }
  */
  /* Create three equal columns that floats next to each other */
  .column {
	float: left;
	width: 33.33%;
	display: none; /* Hide all elements by default */
  }
  
  /* Clear floats after rows */ 
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* Content */
  .content {
	background-color: white;
	padding: 10px;
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
	display: block;
  }
  
  .about-align{
	  text-align:left;
  }
  @media(max-width:992px)
  {
	  .about-align{
		  text-align:center;

	  }
  }